#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header .brand {
  position: absolute;
  left: 1rem;
  top: 50%;
  height: 32px;
  translate: 0 -50%;
}

header .brand img {
  height: 100%;
}

header nav {
  display: flex;
  position: relative;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem;
  max-width: 1280px;
  margin: 0 auto;
}

header button {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

header a {
  color: #333;
  transition: 0.1s ease;
}

header a:hover {
  color: var(--blue);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

main h1 {
  font-size: 2.5rem;
}

main p.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--typography2);
}

button {
  border-radius: 20px;
  font-weight: 700;
  background-color: white;
  border: none;
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 0.1s ease;
}

button:hover {
  scale: 1.05;
}

button.outline {
  color: var(--neutral);
  border: 1px solid var(--neutral-light);
}

button.primary {
  background-color: var(--blue);
  color: white;
}

.hero {
  color: white;
  background-color: var(--blue);
  min-height: 50vh;
  display: flex;
  padding: 2rem calc((100vw - 1280px) / 2);
  padding-top: 0;
}

.hero .text {
  flex: 1;
  font-size: 50px;
  text-align: left;
  max-width: 33%;
}

.hero > .text strong {
  font-weight: 800;
}

footer {
  color: white;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}

footer p {
  color: var(--typography3);
}

footer ul {
  padding: 0;
  font-weight: 300;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--neutral-light);
}

footer > div {
  text-align: left;
}

.inverted {
  background-color: var(--background-dark);
  color: white;
  padding: 2rem calc((100vw - 1280px) / 2);
}

.inverted .subtitle {
  color: var(--neutral-light);
}

.company-tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.company-tiles > div {
  padding: 0 1rem;
  border-radius: 12px;
  flex: 1;
  max-width: 33%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-tiles .company-name {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.company-tiles .logo {
  height: 64px;
  width: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.company-tiles .campaign-details,
.company-tiles .industry {
  text-align: left;
}
.company-tiles .campaign-details span,
.company-tiles .industry span {
  font-size: 12px;
  font-weight: 600;
  border-radius: 12px;
  padding: 0.25rem 1rem;
}

.company-tiles .industry span {
  background: var(--background-dark)
}

.campaigns {
  padding: 2rem;
}
